body
{
    background: #111;
}
section
{
    position: absolute;
    width:100%;
    height: 100vh;

}

#particles-js, #particles2-js,#particles3-js,#particles4-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
